:root {
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #3d2b1f;
  background-color: #fdfaf6;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
